@{
    ViewBag.Title = "Startseite";
}

<div class="jumbotron" style="background-image: url(https://www.msg-services.de/images/msg-services/sliders/00-Start_1920x800.jpg);background-size:cover">
    <img src="https://www.msg-services.de/images/logo-2x.png" style="width:144px;height:50px;" />
    <br /><br />
    <p class="lead">Diese Applikation läuft auf dem Server @ViewBag.ServerName in der Cloud</p>
    <p><a href="https://www.msg-services.de" class="btn btn-primary btn-lg">Mehr erfahren &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Planen</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <p><a class="btn btn-default" href="https://www.msg-services.de">Mehr erfahren &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Implementieren</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <p><a class="btn btn-default" href="https://www.msg-services.de">Mehr erfahren &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Betreiben</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <p><a class="btn btn-default" href="https://www.msg-services.de">Mehr erfahren &raquo;</a></p>
    </div>
</div>